body {
    font: 18px Montserrat, sans-serif;
    color: #f5f6f7;
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
}

p {font-size: 16px;
  color: #79a0d1;

}



.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1d3461; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    padding-bottom: 120px;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 80px;
}

.container-fluid2 {
    padding-top: 20px;
    padding-bottom: 80px;
    height:auto;
    width:auto;
    overflow: auto;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
	background-color: #DEDEDE;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.user:hover {
	background-color: #D0D0D0;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}