body {
    line-height: 1.8;
    color: #474e5d;
    margin: 0;
    height: 100%;
    overflow: hidden
}

.bg-1 {
    background-color: #79A0D1; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 20%;
    padding-bottom: 80%;
    width: 100%;
}
.container-fluid2 {
    position:absolute;
    bottom:0;
    height: 30%;
    width: 100%;
}
#logo{
    height: 100%;
    width: 100%;
}
#image{
    align-content: center;

}

#usr{
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height:25%;
    background-color: #1D3461;
}
#pwd{
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height:25%;
    background-color: #1D3461;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
input{

    text-align: center;
    width: 100%;
    background-color: #1D3461;;
    overflow: visible;
    height:25%;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button{

    text-align: center;
    width: 100%;
    background-color: #1D3461;;
    overflow: visible;
    height:100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
form{
    height: 25%;
}